<div class="d-flex col-12 justify-content-center flex-wrap m-auto">
  <div class="d-flex col-12">
    <div class="homepageMenu col-12 "> 
      {{> menu}}
    </div>
  </div>
<div class="homepageContainer d-flex flex-wrap col-12">

  <div class="homepageImageOne">
  {{#if devPath}}
  <img src="/assets/images/writer.png">
  {{else}}
  <img src="{{prodPath}}/assets/images/writer.png">
  {{/if}}
    
  </div>
  <div class="homePageCTAHolder d-none d-md-block ">
    <div class="col-12 homePageCTA homePageCTAAbsolute text-wrap">
    {{> header-cta}}</div>
</div>
  </div>
  <div class="homepageImageTwo">
  {{#if devPath}}
  
  <img src="/assets/images/logo.png">
  {{else}}
  <img src="{{prodPath}}/assets/images/logo.png" >
  {{/if}}
  </div>
  
  <div class="d-block d-md-none col-12 homePageCTA p-5 text-wrap">
    {{> header-cta}}</div>
</div>
</div>

  {{#if data.userTypeBlogger}}
  <div class="bloggerAddURLFormWrapper">
    <span class="bloggerAddFormError" id="bloggerAddFUrl-Error-Span"></span>
    <input type="text"  class="addUrlInput" id="bloggerAddUrl-input" placeholder="URL:">
  </div>
  <div class="bloggerAddURLFormWrapper">
    <span class="bloggerAddUrlCredit-Error" id="bloggerAddUrlCredit-Error-Span"></span>
    <input type="text" class="addUrlInput" id="bloggerAddUrlCredit-input" placeholder="CREDIT:">
  </div>
  <button id="bloggerAddUrlButton">SUBMIT</button>
  <br><br>Your Articles:<br>
  <table id="urlList">
  {{#each data.articleData as |article|}}
    <tr><td>{{article.url}}</td></tr>
  {{/each}}
  </table>
  <br><br>Link this file in you html header
<textarea>&lt;script src="https://c15-project-2-group-5.herokuapp.com/plugins/plugin.js"&gt;&lt;/script&gt;</textarea>

  {{/if}}
{{#if data.userTypeReader}}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {{#each data.articleData as |article|}}
    <div class="col">
      <div class="card h-100 m-3">
        <img src="{{image_url}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          <p class="card-text">{{article.preview}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{/if}}

{{!-- link to javaScript file --}}
{{#if devPath}}
<script src="/assets/js/dashboard.js"></script>
{{else}}
<script src="{{prodPath}}/assets/js/dashboard.js"></script>
{{/if}}


