<div class="d-flex col-12 justify-content-center flex-wrap m-auto">
  <div class="d-flex col-12">
    <div class="homepageMenu col-12 "> 
      {{> menu}}
    </div>
  </div>
<div class="homepageContainer d-flex flex-wrap col-12">

  <div class="homepageImageOne">
  {{#if devPath}}
  <img src="/assets/images/writer.png">
  {{else}}
  <img src="{{prodPath}}/assets/images/writer.png">
  {{/if}}
    
  </div>

  <div class="homepageImageTwo">
  {{#if devPath}}
  <img src="/assets/images/logo.png">
  {{else}}
  <img src="{{prodPath}}/assets/images/logo.png" >
  {{/if}}
  </div>
  
  <div class="d-block col-12 homePageCTA p-5 text-wrap">
    At only bloggers, we want to help our community of creators grow and continue to get paid for their content.
  </div>
</div>




  {{#if data.userTypeBlogger}}
  <div class="bloggerAddURLFormWrapper">
    <span class="bloggerAddFormError" id="bloggerAddFUrl-Error-Span"></span>
    <input type="text"  class="addUrlInput" id="bloggerAddUrl-input" placeholder="URL:">
  </div>
  <div class="bloggerAddURLFormWrapper">
    <span class="bloggerAddUrlCredit-Error" id="bloggerAddUrlCredit-Error-Span"></span>
    <input type="text" class="addUrlInput" id="bloggerAddUrlCredit-input" placeholder="CREDIT:">
  </div>
  <button id="bloggerAddUrlButton">SUBMIT</button>
  <br><br>Your Articles:<br>
  <table id="urlList">
  {{#each data.articleData as |article|}}
    <tr><td>{{article.url}}</td></tr>
  {{/each}}
  </table>
  <br><br>Link this file in you html header
<textarea>&lt;script src="https://c15-project-2-group-5.herokuapp.com/plugins/plugin.js"&gt;&lt;/script&gt;</textarea>

  {{/if}}
{{#if data.userTypeReader}}
  {{#each data.articleData as |article|}}
   <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{article.url}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{article.url}}</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{article.url}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
  {{/each}}
{{/if}}

{{!-- link to javaScript file --}}
{{#if devPath}}
<script src="/assets/js/dashboard.js"></script>
{{else}}
<script src="{{prodPath}}/assets/js/dashboard.js"></script>
{{/if}}


