<div class="d-flex col-12 justify-content-center flex-wrap m-auto">
  <div class="d-flex col-12">
    <div class="homepageMenu col-12 "> 
      {{> menu}}
    </div>
  </div>
<div class="homepageContainer d-flex flex-wrap col-12">

  <div class="homepageImageOne">
  {{#if data.devPath}}
  <img src="/assets/images/writer.png">
  {{else}}
  <img src="{{data.prodPath}}/assets/images/writer.png">
  {{/if}}
    
  </div>
  <div class="homePageCTAHolder d-none d-md-block ">
    <div class="col-12 homePageCTA homePageCTAAbsolute text-wrap">
      Change the way blogging is valued!<br><br>
      Let your most passionate fans support your creative work via a credit system that, in exchange, allows you the freedom to do your best work and the stability you need to build an independent creative career.
    </div>
  </div>
  <div class="homepageImageTwo">
  {{#if data.devPath}}
  
  <img src="/assets/images/logo.png">
  {{else}}
  <img src="{{data.prodPath}}/assets/images/logo.png" >
  {{/if}}
  </div>
  
  <div class="d-block d-md-none col-12 homePageCTA p-5 text-wrap">
      Change the way blogging is valued!<br><br>
      Let your most passionate fans support your creative work via a credit system that, in exchange, allows you the freedom to do your best work and the stability you need to build an independent creative career.
  </div>
</div>
    <table>
    <tr><td>Todays New Articles</td></tr>
  {{#each data.articleData as |article|}}
    <tr><td>{{article.url}}</td></tr>
  {{/each}}
  </table>
{{#if data.userTypeBlogger}}
  
{{/if}}

{{#if data.userTypeReader}}

{{/if}}

{{!-- link to javaScript file --}}
{{#if data.devPath}}
<script src="/assets/js/homepage.js"></script>
{{else}}
<script src="{{data.prodPath}}/assets/js/homepage.js"></script>
{{/if}}
