{{!-- homepage --}}
{{!-- hero page banner calling heroHeader partial--}}
<div class="d-flex col-12 justify-content-center flex-wrap">
  {{> heroHeader }}
  {{!-- homepage article loop --}}
<div class="row row-cols-1 row-cols-md-3 g-4 p-5">
      {{#each data.articleData as |article|}}
        <div class="col">
          <div class="card h-100 m-3">
            <img src="{{image_url}}" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title">{{article.title}}</h5>
              <p class="card-text">{{article.preview}}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      {{/each}}
  </div>

{{!-- link to javaScript file --}}
{{#if data.devPath}}
<script src="/assets/js/homepage.js"></script>
{{else}}
<script src="{{data.prodPath}}/assets/js/homepage.js"></script>
{{/if}}
