<div class="d-flex col-10 justify-content-center flex-wrap m-auto">
  <div class="d-flex col-12">
    <div class="homepageMenu col-12 "> 
      {{> menu}}
    </div>
  </div>
<div class="homepageContainer d-flex flex-wrap col-12">

  <div class="homepageImageOne">
  {{#if devPath}}
  <img src="/assets/images/writer.png">
  {{else}}
  <img src="{{prodPath}}/assets/images/writer.png">
  {{/if}}
    
  </div>

  <div class="homepageImageTwo">
  {{#if devPath}}
  <img src="/assets/images/logo.png">
  {{else}}
  <img src="{{prodPath}}/assets/images/logo.png" >
  {{/if}}
  </div>
  
  <div class="d-block col-12 homePageCTA p-5 text-wrap">
    At only bloggers, we want to help our community of creators grow and continue to get paid for their content.
  </div>
</div>
    
<div id="loginMessage"></div>
<fieldset class="form-wrap" id="loginForm">
  <!-- Email Form -->
  <div class="loginFormInputWrapper">
    <span id="login-Error" class = "loginFormError"></span>
    <input class="form-control" placeholder="Email" type="email" id="loginEmail" />
  </div> 

  <!-- Password Form -->  
  <div class="loginFormInputWrapper">
    <input class="form-control" placeholder="Password" type="password" id="loginPassword" />
  </div> 
  <div class="d-grid gap-2 col-6 mx-auto">
    <button class= "btn" id="login-login">Log In</button>
  </div>
</fieldset>




{{!-- link to javaScript file --}}
{{#if devPath}}
<script src="/assets/js/login.js"></script>
{{else}}
<script src="{{prodPath}}/assets/js/login.js"></script>
{{/if}}
