<div class="card text-bg-primary m-4" style="max-width: 100%;">
  {{#if devPath}}
    <img
      src="/assets/images/Blogger.png"
      class="card-img-top"
      alt="Blogger writting on laptop"
    />
  {{else}}
    <img
      src="{{prodPath}}/assets/images/Blogger.png"
      class="card-img-top"
      alt="Blogger writting on laptop"
    />
  {{/if}}
{{!-- thank you text --}}
  <div class="card-header">THANK YOU {{readerName}}!</div>
  <div class="card-body">
    {{!-- sub heading to thank you text --}}
    <h5 class="card-title">Thanks for being a part of OnlyBlogs!</h5>
        {{!-- body to thank you text --}}
    <p class="card-text">You are helping our community of creators grow in a way
      that allows them to continue to write and develop content for readers such
      as yourself.</p>
      {{!-- credits remaining --}}
    <p class="card-text"><strong>You have
        {{readerCredits}}
        credits remaining</strong></p>
        {{!-- cost of credits --}}
    <p class="card-text"><strong>This article costs {{articleCredits}} credits.</p>
  </div>
</div>


  