<div class="d-flex col-10 justify-content-center flex-wrap m-auto">
  <div class="d-flex col-12">
    <div class="homepageMenu col-12 "> 
      {{> menu}}
    </div>
  </div>
<div class="homepageContainer d-flex flex-wrap col-12">

  <div class="homepageImageOne">
  {{#if devPath}}
  <img src="/assets/images/writer.png">
  {{else}}
  <img src="{{prodPath}}/assets/images/writer.png">
  {{/if}}
    
  </div>

  <div class="homepageImageTwo">
  {{#if devPath}}
  <img src="/assets/images/logo.png">
  {{else}}
  <img src="{{prodPath}}/assets/images/logo.png" >
  {{/if}}
  </div>
  
  <div class="d-block col-12 homePageCTA p-5 text-wrap">
    At only bloggers, we want to help our community of creators grow and continue to get paid for their content.
  </div>
</div>
<div class="form-wrap">
 <div id="readerJoinMessage"></div>
<fieldset id="readerJoinForm">
  <!-- First Name -->
  <div class="readerJoinFormInputWrapper">
    <span id="readerJoin-FirstName-Error" class="readerJoinFormError"></span>
    <input class="form-control" placeholder="First Name" type="text" id="readerJoin-FirstName" />
  </div>

  <!-- Last Name -->
  <div class="readerJoinFormInputWrapper">
    <span id="readerJoin-LastName-Error" class="readerJoinFormError"></span>
    <input class="form-control" placeholder="Last Name" type="text" id="readerJoin-LastName" />
  </div>

  <!-- Email -->
  <div class="readerJoinFormInputWrapper">
    <span id="readerJoin-Email-Error" class="readerJoinFormError"></span>
    <input class="form-control" placeholder="Email" type="email" id="readerJoin-Email" />
  </div>

  <!-- Password -->
  <div class="readerJoinFormInputWrapper">
    <span id="readerJoin-Password-Error" class="readerJoinFormError"></span>
    <input class="form-control" placeholder="Password" type="password" id="readerJoin-Password" />
  </div>

  <!-- Confirm Password -->
  <div class="readerJoinFormInputWrapper">
    <span
      id="readerJoin-ConfirmPassword-Error"
      class="readerJoinFormError"
    ></span>
    <input class="form-control" placeholder="Confirm Password" type="password" id="readerJoin-ConfirmPassword" />
  </div>
  <div class="readerJoinFormInputWrapper">
    <input type="checkbox" id="readerJoin-Terms"  />
    <label class="form-check-label" for="flexCheckDefault1" id="readerJoin-Terms-Label">I agree to the <a href="/terms">Terms & Conditions</a></label>
  </div>
  <div class="readerJoinFormInputWrapper">
    <input type="checkbox" id="readerJoin-Privacy" />
    <label class="form-check-label" for="flexCheckDefault2">I agree to receive the latest blog reviews, exclusive offers, updates and more from us.<a href="/privacy">Privacy Policy</a></label>
  </div>
  <button id="readerJoin-submit" class="btn btnCustomisations">JOIN</button>
</fieldset>
</div>
{{!-- link to javaScript file --}}
{{#if devPath}}
<script src="/assets/js/reader-join.js"></script>
{{else}}
<script src="{{prodPath}}/assets/js/reader-join.js"></script>
{{/if}}
