<div class="card text-bg-primary m-4" style="max-width: 100%;">
  {{#if devPath}}
    <img
      src="/assets/images/Blogger.png"
      class="card-img-top"
      alt="Blogger writting on laptop"
    />
  {{else}}
    <img
      src="https://c15-project-2-group-5.herokuapp.com/assets/images/Blogger.png"
      class="card-img-top"
      alt="Blogger writting on laptop"
    />
  {{/if}}

  <div class="card-header">THANK YOU {{readerName}}!</div>
  <div class="card-body">
    <h5 class="card-title">Thanks for being a part of OnlyBlogs!</h5>
    <p class="card-text">You are helping our community of creators grow in a way
      that allows them to continue to write and develop content for readers such
      as yourself.</p>
    <p class="card-text"><strong>You have
        {{readerCredits}}
        credits remaining</strong></p>
    <p class="card-text"><strong>Help
        {{bloggerName}}
        for only
        {{articleCredits}}
        credits!</strong></p>
  </div>
</div>